{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Do not put label here!
    </title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
  </head>

  <body>
    <div class="ui thin visible left sidebar inverted vertical menu">
      <div class="header item">
        <img src="{% static 'images/logo2.png' %}">
      </div>
      <div class="item">
        Doucument
        <i class="browser icon"></i>
      </div>
      <div class="item">
        Charts
        <i class="bar chart icon"></i>
      </div>
      <div class="item">
        Others
        <i class="idea icon"></i>
      </div>
    </div>

    {% block pusher %}{% endblock %}

    <script>
    $('#menu').click(function () {
      $('.ui.sidebar').sidebar('toggle');
    });
    </script>

    {% block js %}{% endblock %}
  </body>
</html>
